/* Fonts */
@font-face{
	font-family: Lato;
	src: url(../fonts/LATO-REG.TTF);
}

body {margin:0px; font-family:Lato;}

#content-container {
	width:100%; height:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

#background-view {
	width:100%; height:100%;
	background-image: url('../images/background.png');
	position:fixed;
	top:0px; left:0px;
	z-index:2;
	overflow:hidden;
	background-repeat: repeat;
}

#blog-nav {
	position:fixed;
	width:100%;
	height:10%;
	left:0%; top:10%;
	z-index:3;
}
	
	#blog-nav h3 {
		text-align:center;
		font-size:30px;
		color:blue;
		margin:0;
	}

	#blog-nav h5 {
		text-align:Center;
		color:blue;
		margin:0;
	}

#content {
	width:3000px; height:100%;
	position:absolute;
	top:0px; left:0px;
	z-index:2;
}
	
	#content svg {
		position:absolute;
	}
	
	.blogPost{
	position:relative;
	float:left;
	width:450px; height:450px;
	margin-left:70px; margin-right:70px;
	}
	
	.clip1 {
		-webkit-clip-path: url(../images/clips/clip1.svg);
		/* Firefox*/
		clip-path: url(../images/clips/clip1.svg#svgClip);
		/* iOS support */
		-webkit-mask: url(../images/clips/clip1.svg);
	}
	
	.clip2 {
		-webkit-clip-path: url(../images/clips/clip2.svg);
	    /* Firefox*/
	    clip-path: url(../images/clips/clip2.svg#svgClip);
	    /* iOS support */
	    -webkit-mask: url(../images/clips/clip2.svg);
	}

	.clip3 {
		-webkit-clip-path: url(../images/clips/clip3.svg);
	    /* Firefox*/
	    clip-path: url(../images/clips/clip3.svg#svgClip);
	    /* iOS support */
	    -webkit-mask: url(../images/clips/clip3.svg);
	}

	.clip4 {
		-webkit-clip-path: url(../images/clips/clip4.svg);
	    /* Firefox*/
	    clip-path: url(../images/clips/clip4.svg#svgClip);
	    /* iOS support */
	    -webkit-mask: url(../images/clips/clip4.svg);
	}	
	
	.captionContainer {
		position:absolute;
		z-index:3;
		width:100%;
		top:45%;
		background: rgba(50,50,50,0.8);
		color:#eee;
	}

		.captionHold {
			position:relative;
			width:70%; height:100%;
			padding:10px 0 10px 0;
			text-align:center;
			margin:0 auto;
		}



#foreground-view {
	width:100%; height:100%;
	background-image: url('../images/foreground.png');
	position:fixed;
	top:0px; left:0px;
	z-index:4;
	overflow:hidden;
	background-repeat: repeat-x;

}









#nav-container {
    position: fixed;
    top:0px; left:0px;
	width: 100%;
	height: 50px;
	padding-top: 40px;
	background-color: rgba(255,255,255,0.7);
	margin-bottom:7%;
	z-index:30;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

	.nav-bar {
	    width: 35%;
	    min-width: 500px;
	    margin: auto;
	    color: #999999;
	}

.nav-bar .link{
    width: 19.5%;
    text-align: center;
	display: inline-block;
    position: relative;
}

nav a {
	position: relative;
	color: #888888;
	text-decoration: none;
	letter-spacing: 2px;
	padding-bottom: 8px;
	font-size: 15px;
}

.blogImage {width:450px; height:450px;}
.nav-bar a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #1e2896; /* Old browsers */
	background: -moz-linear-gradient(20deg,  #1e2896 0%, #75cdd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1e2896), color-stop(100%,#75cdd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(20deg,  #1e2896 0%,#75cdd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(20deg,  #1e2896 0%,#75cdd8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(20deg,  #1e2896 0%,#75cdd8 100%); /* IE10+ */
	background: linear-gradient(20deg,  #1e2896 0%,#75cdd8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2896', endColorstr='#75cdd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
}

.nav-bar a:hover::after,
.nav-bar a:focus::after {
	opacity: 0.93;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}











