body{font-family:helvetica;}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

.head{
	padding:0; margin:0;
	height:80px;
}

.head h1{
	margin:0;
	font-size:70px;
	text-align:center;
	width:100%;
}

.cont{
	display:inline-block;
	position:absolute;
	left:0; right:0; top:80px;
	margin:auto;
	width:1060px;
	margin-bottom:100px;
}

.mainCont{
	margin:0;
	padding:0;
	float:left;	
	height:100%; width:528px;
	min-height:1000px;
}

/*.put{
	border:1px solid Red;
}

.get{
	border:1px solid #bf85dd;
}*/

.send{
	height:50px; width:100%;
	background:yellow;
	border:1px solid #ccc;
	cursor:pointer;
}

.send h3{
	width:530px;
	line-height:50px;
	text-align:center;
	margin:0;
}

.inputCont h5{
	margin:10px 0;
}

.inputCont{
	width:100%;
}

.putInput{
	width:300px;
}

.posterRow{
	margin:0; padding:0;
	width:100%; height:100%;
	position:relative;
	background:blue;
}

.posterRows{
	margin:0; padding:0;
}

.row{
	float:left;
	height:100%;
	width:100%;
	cursor:pointer;
}

.rowInfo{
	margin-left:10px;
	width:490px;
	float:left;
}

.evenRow{
	background:#F5F5F5;
}

.rowEditButt{
	width:28px; height:28px;
	background-image:url('../images/edit.png');
	float:right;
	background-size:cover;
	cursor:pointer;
}

.rowInfo h5{
	float:left;
	width:200px;
	margin:0;
	line-height:28px;
	padding-left:30px;
	height:100%;
}

.hoverRow{background:#D5F2F5;}
.editCont{
	width:488px;
	float:left;
	height:50px;
	border:1px solid black;
	border-top:none;
	margin-left:10px;
}



















































