<html>
	<head>
		<title>Rich</title>
	    <link rel="stylesheet" type="text/css" href="css/reset.css">		
		<link rel="stylesheet" type="text/css" href="css/main.css">	
	    <script data-require="angular.js@1.2.10" data-semver="1.2.10" src="http://code.angularjs.org/1.2.10/angular.js"></script>
	    <script type="text/javascript" src="scripts.js"></script>	

	</head>
	
	<body ng-app="app">
		<!-- ================ HEAD ================== -->
		<!-- ======================================== -->
		<div class="head">
			<h1>FRANK'S POSTER COLLECTION</h1>
		</div>

		<div class="cont" ng-controller="mainCTRL">
			<!-- ================= PUT ================== -->
			<!-- ======================================== -->
			<div class="mainCont put">
				<div class="send" ng-click="post()">
					<h3>ADD</h3>
				</div>

				<div class="inputCont">
					<h5>Artist</h5>
					 <input class="putInput" type="text" ng-model="artist">
				</div>		
				
				<div class="inputCont">
					<h5>Style</h5>
					 <input class="putInput" type="text" ng-model="style">
				</div>							
			</div>



			<!-- ================= GET ================== -->
			<!-- ======================================== -->	
			<div class="mainCont get">
				<ul class="posterRows clearfix">
					<!-- NG REPEAT HERE -->
					<li class="row" ng-controller="posterRowCtrl" ng-repeat="rows in posterList" ng-mouseover="overList=true" ng-mouseleave="overList=false">
						<div class="rowInfo" ng-class="{evenRow: $even, hoverRow: overList==true}" ng-click="editTog=true">
							<h5>{{rows.artist}}</h5>
							<h5>{{rows.style}}</h5>
						</div>

						<div class="rowEditButt" ng-show="overList==true"></div>
						<div class="editCont" ng-show="editTog==true">
							<button class="cancel" ng-click="editTog=false">Cancel</button>
							<button class="save" ng-click="editTog=false">Save</button>
						</div>

					</li>

				</ul>
			</div>
		</div>
	</body>
</html>


























